bs4
pytz
motor
psutil
aiohttp
pyrogram
tgcrypto
aiofiles
requests
aiosmtplib
matplotlib
qrcode[pil]
httpx[http2]
Pyromod==1.5
speedtest-cli
python-dotenv
catbox-uploader
python-dateutil
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
